.avatar {
    clip-path: circle();
    width: 25vh;
}

.GiftDescrGit{
    position: relative;
    z-index: 1;
    bottom: 100vh; 
    left: -30vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
