.wrapGifts {  
    /* position: relative; //ломает конфетти  */
    z-index: 4;
}

.Gifts {
    display: flex;   
    flex-direction: row;
    justify-content: center; 
    position: relative;
    bottom: 20vh;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.Gift{
    width: 30vh;
    transition: 1s;

    &:hover {
        cursor: pointer;
        transform: scale(1.4);      
    }
}

