.wrapGifts {
    grid-column: 2;
    z-index: 3;
}

.Gifts{
    width: 100%;
    display: flex;   
    flex-direction: row;
    justify-content: center; 
    position: relative;
    bottom: 20vh;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.Gift{
    width: 30%;
    z-index: 1000;
}

.Gift:hover {
    cursor: pointer;
}

.GiftDescr{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
