.meal {
    clip-path: circle();
    width: 40vh;
}

.GiftDescrFood{
    position: relative;
    z-index: 2;
    bottom: 100vh; 
    left: 30vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}


