html {
    width: 100vw;
    overflow-x: hidden;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.XMasTree {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 70vh;
    position: relative;
    grid-column: 2;
    justify-self: center;
    z-index: 1;
}

.XMasTree:hover {
    cursor: pointer;
}

.description{
    grid-column: 2;
    justify-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
