

html {
    width: 100vw;
    overflow-x: hidden;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrap_start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow: visible; */
}

.XMasTree {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 70vh;
    position: relative;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.description{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
